:root {
  --primary-color: #4CAF50;  /* Green, for buttons and headers */
  --secondary-color: #333;   /* Dark gray, for text */
  --background-color: #f8f8f8; /* Light gray, for backgrounds */
  --error-color: #FF6B6B;    /* Soft red for error messages */
  --hover-color: #45a049;    /* Darker green for button hover states */
  --font-family: 'Roboto', sans-serif;  /* Font family */
}

.country-selector-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add shadow for depth */
  border-radius: 10px;
}

.custom-select {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: black;
}

textarea {
  width: 100%;
  height: 200px; /* Increased height for more space */
  padding: 8px 12px; /* Reduced padding to optimize space */
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px; /* Smaller font for more text */
  resize: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added shadow for depth */
  overflow-y: auto;
}

textarea:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Increased shadow on focus */
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

.selected-values {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px; /* Greater rounding of corners */
  background-color: #fefefe; /* White background color */
  cursor: pointer;
  min-height: 30px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-family: "Questrial", sans-serif;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added shadow for depth */
}

.selected-value {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  padding: 5px 10px; /* Increased padding for a nicer look */
  border-radius: 16px; /* Greater rounding of corners */
  margin: 4px; /* Spacing between selected values */
  font-family: "Questrial", sans-serif;
}

.selected-value span {
  margin-right: 10px;
}

.remove-button {
  background-color: var(--error-color);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* Font size adjustment for better appearance */
  line-height: 20px;
  margin-left: 10px; /* Space between the value and the button */
}

.remove-button:hover {
  background-color: #FF4B4B; /* Darker red background on hover */
}

.options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none;
  transition: max-height 0.3s, opacity 0.3s;
}

.options.active {
  display: block;
  max-height: 200px;
  opacity: 1;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f0f0f0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Adjusted for better visibility on screen */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1); /* Softer shadow */
  width: 50%; /* Responsive width */
  transition: transform 0.3s;
  transform: translateY(-50px);
}

.modal-content.show {
  transform: translateY(0);
}

.modal-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-input label {
  font-size: 16px;
  font-family: "Questrial", sans-serif;
}

.modal-input input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Questrial", sans-serif;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  width: 45%;
}

h2 {
  text-align: center;
  color: var(--primary-color);
  font-family: "Questrial", sans-serif;
}

h2.modal-header {
  color: var(--secondary-color);
  font-family: "Questrial", sans-serif;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.geographical-question {
  padding: 15px; /* Reduced padding for a more compact design */
  background-color: #ffffff; /* White background for contrast */
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added shadow for depth */
  width: 100%;
  max-width: 1000px
}

.geographical-question p {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 16px; /* Reduced font size */
  margin-bottom: 10px; /* Reduced bottom spacing */
  font-family: "Questrial", sans-serif;
}

.radio-buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px; /* Reduced top spacing */
}

.radio-buttons-container label {
  margin: 5px 0; /* Reduced vertical spacing between labels */
  font-size: 14px; /* Reduced font size */
  color: #555; /* Slightly lighter text color for better contrast */
  padding: 8px; /* Reduced padding for a more compact design */
  border-radius: 4px; /* Rounded corners for a softer look */
  transition: background-color 0.3s, color 0.3s; /* Transitions for hover effect */
  font-family: "Questrial", sans-serif;
}

.radio-buttons-container label:hover {
  background-color: var(--primary-color); /* Green background on hover */
  color: white; /* White text on hover */
  cursor: pointer; /* Pointer cursor on hover */
}

.radio-buttons-container input[type="radio"] {
  margin-right: 8px; /* Reduced margin for a more compact design */
  accent-color: var(--primary-color); /* Color of the radio button */
}

.radio-buttons-container input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--primary-color); /* Reduced focus highlight */
}

.error-message {
  color: var(--error-color);
  font-size: 12px; /* Reduced font size */
  margin-top: 8px; /* Reduced top spacing */
  font-weight: bold; /* Bold text for better visibility */
  font-family: "Questrial", sans-serif;
}

.center-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjusted for consistent spacing */
}

.compute-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.compute-button:hover {
  background-color: var(--hover-color);
}

.compute-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

h2.modal-header {
  color: var(--secondary-color);
}

.results-container {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Added margin-bottom to separate from other content */
}

/* Additional styles for the ResultDisplay component */
.result-display {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.result-display h3 {
  margin-bottom: 10px;
  color: var(--primary-color);
  font-family: 'Questrial', sans-serif;
}

.result-display textarea {
  width: 100%;
  height: 100px;
  padding: 8px 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
  overflow-y: auto;
}

.result-display textarea:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.result-display textarea::-webkit-scrollbar {
  width: 8px;
}

.result-display textarea::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

.result-display textarea::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}
