:root {
  --primary-color: #4CAF50;  /* Green, for buttons and headers */
  --secondary-color: #333;   /* Dark gray, for text */
  --background-color: #f8f8f8; /* Light gray, for backgrounds */
  --error-color: #FF6B6B;    /* Soft red for error messages */
  --hover-color: #45a049;    /* Darker green for button hover states */
  --font-family: 'Roboto', sans-serif;  /* Font family */
}

.country-selector-page {
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 85%;
  background-color: white;
  align-items: center;
}


.custom-select {
  position: relative;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

textarea {
  width: 100%;
  height: 200px; /* Aumentata l'altezza per più spazio */
  padding: 8px 12px; /* Ridotto il padding per ottimizzare lo spazio */
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin-bottom: 100px;
  font-size: 14px; /* Font più piccolo per più testo */
  resize: none;
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Aggiunta di ombra per profondità */
  overflow-y: auto;
}

textarea:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Aumentata ombra al focus */
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

.selected-values {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px; /* Maggiore arrotondamento degli angoli */
  background-color: #fefefe; /* Colore di sfondo bianco */
  cursor: pointer;
  min-height: 30px;
  display: flex;
  min-width: 100px;
  width: 100%;
  flex-wrap: wrap;
  font-family: "Questrial", sans-serif;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Aggiunta di ombra per profondità */
}

.selected-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e9e9e9;
  padding: 5px 10px; /* Maggiore padding per un aspetto più carino */
  border-radius: 16px; /* Arrotondamento degli angoli maggiore */
  margin: 4px; /* Spaziatura tra i valori selezionati */
  font-family: "Questrial", sans-serif;
}

.selected-value span {
  margin-right: 10px;
}

.remove-button {
  background-color: var(--error-color);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* Font size adjustment for better appearance */
  line-height: 20px;
  margin-left: 10px; /* Space between the value and the button */
}

.remove-button:hover {
  background-color: #FF4B4B; /* Colore di sfondo rosso più scuro al passaggio del mouse */
}

.options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none;
  transition: max-height 0.3s, opacity 0.3s;
}

.options.active {
  display: block;
  max-height: 200px;
  opacity: 1;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f0f0f0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Adjusted for better visibility on screen */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1); /* Softer shadow */
  width: 50%; /* Responsive width */
  transition: transform 0.3s;
  transform: translateY(-50px);
}

.modal-content.show {
  transform: translateY(0);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.geographical-question {
  padding: 15px; /* Ridotto il padding per un design più compatto */
  background-color: #ffffff; /* Sfondo bianco per contrasto */
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Aggiunta di ombra per profondità */
  margin-top: 15px; /* Spaziatura superiore ridotta */
}

.geographical-question p {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 16px; /* Ridotta la dimensione del font */
  margin-bottom: 10px; /* Spaziatura inferiore ridotta */
  font-family: "Questrial", sans-serif;
}

.radio-buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px; /* Ridotta la spaziatura superiore */
}

.radio-buttons-container label {
  margin: 5px 0; /* Ridotta la spaziatura verticale tra le etichette */
  font-size: 14px; /* Ridotta la dimensione del font */
  color: #555; /* Colore del testo leggermente più chiaro per migliorare il contrasto */
  padding: 8px; /* Ridotto il padding per un design più compatto */
  border-radius: 4px; /* Angoli arrotondati per un aspetto più morbido */
  transition: background-color 0.3s, color 0.3s; /* Transizioni per effetto hover */
  font-family: "Questrial", sans-serif;
}

.radio-buttons-container label:hover {
  background-color: var(--primary-color); /* Sfondo verde al passaggio del mouse */
  color: white; /* Testo bianco al passaggio del mouse */
  cursor: pointer; /* Cambio del cursore al passaggio del mouse */
}

.radio-buttons-container input[type="radio"] {
  margin-right: 8px; /* Ridotto il margine per un design più compatto */
  accent-color: var(--primary-color); /* Colore del radio button */
}

.radio-buttons-container input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--primary-color); /* Evidenziazione al focus ridotta */
}

.error-message {
  color: var(--error-color);
  font-size: 12px; /* Ridotta la dimensione del font */
  margin-top: 8px; /* Ridotta la spaziatura superiore */
  font-weight: bold; /* Testo in grassetto per maggiore visibilità */
  font-family: "Questrial", sans-serif;
}


.center-button-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px; /* Distanza dal fondo della pagina */
}

.text-area-results {
  visibility: hidden;
}

.active-class {
  visibility: visible;
}

.compute-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px; /* Padding uniforme per rendere il bottone più simile a un quadrato */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 100px; /* Impostazione della larghezza per mantenere la forma quadrata */
  height: 50px; /* Impostazione dell'altezza per mantenere la forma quadrata */

}

button:hover {
  background-color: var(--hover-color);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-input label {
  font-size: 16px;
  font-family: "Questrial", sans-serif;
}

.modal-input input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Questrial", sans-serif;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  width: 45%;
}

h2 {
  text-align: center;
  color: var(--primary-color);
  font-family: "Questrial", sans-serif;
}

h2.modal-header {
  color: var(--secondary-color);
  font-family: "Questrial", sans-serif;
}

